.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid;
    background-color: rgb(255, 255, 255);
}

.table th {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(58, 57, 57);
    color: white;
}
.tbody tr {
    text-align: center;
}

.tbody tr:nth-child(even) {
    background-color: gray;
}

.tbody td {
    border: 2px solid rgb(0, 0, 0);
}
